.category{ width: $mmw; margin: 0 auto;
  ul{ list-style: none; margin: 0; padding: 0; line-height: 1.1;
    &::after{ content: ''; display: block; clear: both;}
  }
  li{ float: left; margin: 3px;
    a {display: block; 
      color: $fontInvert; background: $primaryColor; text-decoration: none;
       height: 2.3em; line-height: 2.4em; padding: 0 .8em;
      border-radius: 3px; transition: .2s;
      &:hover, &:focus{ background-color: $assistant; box-shadow: $assistant 0 0 0 2px, $shadow2 0 0 8px 2px ;}
    }
  }

  @media screen and (min-width: $wwNormal){
    width: auto;
  }
  
}