// ---------- 「後山公路文物館」顏色變數 ---------- //
$primaryColor: #3B2213;

$assistant: #a40e03;
$assistant1: #A35539;
$assistant2: #B34841;
$assistant3: #8D713F;
$notice: #d00;
$hilight: $assistant;
$hilight2: #f0e396;

$sidebarBg : #6f4d24;
$bodyBg: #c2baa8;
$footerBg: #2B1207;
$footerBg2: #220E06;
$mainBg:#F6F3EA;

$fontColor: #000;
$fontInvert: #fff;
$fontColorLight: #67625c;
$linkColor: #805203;


$borderColor: #a29984;
$borderColorLight: #d0c8af;
$borderColorDark:#777164;
$shadow:rgba(80, 80, 76, 0.2);
$shadow2:rgba(53, 52, 48, 0.4);

$btnBg1: $primaryColor;
$btnBg2: $assistant;

$gray: #ddd;

$transDarken: rgba(26, 13, 5, 0.7);
$transLighten: rgba(255, 255, 255, 0.7);

%shadow1{ box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;}
%shadow2{ box-shadow: rgba(0, 0, 0, 0.5) 0 4px 18px -2px;}

// -------------------------
%linkText{ color: $assistant; text-decoration: none;box-shadow:$assistant 0 2px 0 -1px;
  &:hover{text-decoration: none; box-shadow:$assistant 0 3px 0 -1px;}
  &:focus{text-decoration: none; box-shadow:$assistant 0 0 0 1px;}
}
