// ---------- 「後山公路文物館」顏色變數 ---------- //
$primaryColor: #3B2213;
$secondaryColor: #3B2213;

$assistant: #a40e03;
$assistant1: #A35539;
$assistant2: #B34841;
$assistant3: #8D713F;
$notice: $assistant;
$hilight: #d26c00;

$sidebarBg : #6f4d24;
$bodyBg: #484641;
$footerBg: #545b5a;
$footerBg2: #220E06;

$fontColor: #000;
$fontInvert: #fff;

$border-color: #aaa;
$border-color-light: #ddd;
$border-color-dark:#777;
$shadow:#0003;
$shadow2:#0006;

$btn-bg1: $primaryColor ;
$btn-bg2:darken($primaryColor, 12%);

$gray: #ddd;
$grayLight: #ececec;
$grayDark: #555;

$transDarken: #1a0d05bb;

// -------------------------
%linkText{ color: $assistant; text-decoration: none;box-shadow:$assistant 0 2px 0 -1px;
  &:hover{text-decoration: none; box-shadow:$assistant 0 3px 0 -1px;}
  &:focus{text-decoration: none; box-shadow:$assistant 0 0 0 1px;}
}