// ---------- 「中橫」顏色變數 ---------- //
$primaryColor: #000;

// $assistant: #C9CD36;
$assistant: #841a05;
$assistant1: #584525;
$assistant2: #7c5f31;
$assistant3: #5e3e30;
$notice: #b60a04;
$hilight: #ec6e0e;
$hilight2: #ffd930;

$sidebarBg : $assistant1;
$bodyBg: #fff;
$footerBg: #294229;
$footerBg2: #000;
$mainBg:#edeeeb;

$fontColor: #000;
$fontInvert: #fff;
$fontColorLight: #616161;
$linkColor: #055f35;


$borderColor: #7a7973;
$borderColorLight: #908e85;
$borderColorDark:#59584f;
$shadow:rgba(80, 80, 80, 0.2);
$shadow2:rgba(49, 49, 49, 0.4);

$btnBg1: $primaryColor;
$btnBg2: $assistant2;

$gray: #ddd;

$transDarken: rgba(0, 0, 0, 0.8);
$transLighten: rgba(255, 255, 255, 0.7);

%shadow1{ box-shadow: rgba(0,0,0,.25) 0 1px 4px;}
%shadow2{ box-shadow: rgba(0,0,0,.5) 0 4px 18px -2px;}

// -------------------------
%linkText{ color: $linkColor; text-decoration: none;box-shadow:$linkColor 0 2px 0 -1px;
  &:hover{text-decoration: none; box-shadow:$linkColor 0 3px 0 -1px;color: $linkColor;}
  &:focus{text-decoration: none; box-shadow:$linkColor 0 0 0 1px;color: $linkColor;}
}
