// ---------- 「檔案應用專區」顏色變數 ---------- //
$primaryColor: #3B2213;
$secondaryColor: #3B2213;

$assistant: #a40e03;
$assistant1: #A35539;
$assistant2: #B34841;
$assistant3: #8D713F;
$notice: $assistant;
$hilight: #d26c00;
$hilight2: #f0e396;

$sidebarBg : #6f4d24;
$bodyBg: #c2baa8;
$footerBg: #2B1207;
$footerBg2: #220E06;

$fontColor: #000;
$fontInvert: #fff;
$fontColorLite: #67625c;

$border-color: #a29984;
$border-color-light: #d0c8af;
$border-color-dark:#777164;
$shadow:#50504c33;
$shadow2:#35343066;

$btn-bg1: $primaryColor ;
$btn-bg2:darken($primaryColor, 12%);

$gray: #ddd;
$grayLight: #ececec;
$grayDark: #555;

$transDarken: #1a0d05bb;

%shadow1{ box-shadow: #0004 0 1px 4px;}
%shadow2{ box-shadow: #0003 0 0 15px;}

// -------------------------
%linkText{ color: $assistant; text-decoration: none;box-shadow:$assistant 0 2px 0 -1px;
  &:hover{text-decoration: none; box-shadow:$assistant 0 3px 0 -1px;}
  &:focus{text-decoration: none; box-shadow:$assistant 0 0 0 1px;}
}
