// 目錄樣式
.content{ width: $mmw; margin: 0 auto; padding: 3em 5vw;
  font-size: 1.18em; border-radius: 6px;
  @extend %shadow1;
  background-color: $transLighten;

  ul, ol{list-style: none; margin: 0;padding: 0; line-height: 1.5;}

  h3{ margin: 0 0 1em; color:  darken($btnBg2, 8%); font-size: 2.2em; letter-spacing: .2em;}

  li{ position: relative; margin: 1em 0 1.5em; padding: 0; overflow: hidden; clear: both;
    .pageNumber{float: right;}
    &>a{display: block;position: relative; padding-bottom: 3px;text-decoration: none; color: $fontColor;
      &::after{content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; border-bottom: 1px dotted $borderColor;}
      &[href]{color: $btnBg2; font-weight: bold;
        &::after{border-bottom-style: solid; border-color: $btnBg2; transition: .15s;}
        &:hover::after, &:focus::after{background-color: $btnBg2;height: 2px;}
      }
    }
  }
  &>ul{
    &>li{ padding-left:24px; 
      &::before{content: ''; position: absolute; top: .47em; left: 8px; width: 8px; height: 8px; background-color: $btnBg2;}
      &>a::after{ left: -24px;}
    }

    ol{
      &>li{
        .orderedNumber{ display: inline-block; margin-right: .3em;
          &::after{content: '.';}
        }
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    padding-left: 40px; padding-right: 40px;
  }

  @media screen and (min-width: $wwNormal){
    width: auto;
  }
}