.formLayout {
  border-collapse: collapse;line-height: 1.3;padding: 0;margin: 0 auto;
  outline: 1px solid red;
  td { padding: 4px 0;
    &:nth-child(odd) {
      padding:1.3em 0.5em 0 0;vertical-align: top; width: 20%; min-width: 8.5em;
    }
  input[type="text"], input[type="tel"], input[type="number"], input[type="password"]{width: 32em;}
  textarea{width: 32em; height: 8em; line-height: 1.6; resize: vertical;}

  }


  @media screen and (max-width: $wwMedium - 1) {
    // outline: 1px solid pink;
    display: block; width: auto;

    tbody {display: block;}

    tr, td, th {
      display: block; width: 100%;
    }

    td {padding: 1px 0;
      &:nth-child(odd) {
        width: 100%;padding: 1.5em 3px 0 3px;vertical-align: top;text-align: left;
      }

      input[type="text"], input[type="tel"], input[type="number"], input[type="password"]{ width: 100%;}
      textarea{ width: 100%;}
    }
  }
}


// formA /////////////////////////////////
.formA{
  width: $mmw; margin: 0 auto; 

  @media screen and (min-width: $wwMedium){
  }
  
  @media screen and (min-width: $wwNormal){
    background: #fff; width: auto;
    padding: 1em 0;
  }
}


.note, .warning, .hint, .error{
  font-size: .95em; color: #292;
  line-height: 1.3;
  margin: .3em 3px 0;
}
.error{ color: #c11;}
.hint{color: #636363;}
.warning{color: #d36403;}


.btnDv{text-align: center;
  margin: 1em auto;
}