.menu{
  ul{ list-style: none; margin: 0; padding: 0;}
  li{margin: 0; padding: 0;
    a{ display: block;}
  }
}

.topRow .menu {display: none;}


// 行動版側欄
.sidebar{ position: fixed; z-index: 990;
  width: $sideBarWidth; margin-left:$sideBarWidth * (-1);
  top: 62px; bottom: 0; overflow: auto;
  background: $sidebarBg; color: $fontInvert;
  transition: .5s;

  &.reveal{ margin-left:0; }

  a{ color: $fontInvert; text-decoration: none;}

  .menu{ font-size: 1em;
    &>ul{ line-height: 1.4;border-bottom: 3px solid #fff8;
      li{ border-bottom: 1px solid #fff4;
        &:last-child{ border-bottom: none;}
        a{ padding: .9em .8em .8em;
          transition: .2s;
          &:hover{ background-color: rgba(0,0,0,.45) }
        }

        &.hasChild{
          &>a{padding-right: 36px; position: relative;
            &::after{ content: ''; position: absolute; right: 15px; top: 1.2em;
              width: 8px; height: 8px; border: 2px solid #fff;
              transform: rotate(45deg); border-left: none; border-top: none;
              transition: .2s;
            }
          }
          &.closeIt>a{
            &::after{ transform: rotate(225deg); top: 1.5em; }
          }
        }

        ul{ 
          display: none; font-size: 1rem;
          border: 1px solid #fff3; margin: 0 8px 8px 1.2em;
        }
      }
      &>li{
        img.deco{display: none;}
      }
    }
  }

  // topNav
  .topNav{
    ul{ list-style: none; margin: 0; padding: 0;}
    &>ul{display: flex; flex-flow: row wrap; margin: 20px auto 0; width: 92%;
      &>li{ flex: 1 1 45%; margin: 3px;
        a{
          display: block; height: 2.8em; line-height: 2.8;
          border: 1px solid #fff3; text-align: center;
          transition: .2s;
          &:hover, &:focus{ border-color: $hilight; box-shadow: $hilight 0 0 0 1px;}
        }

        img.deco{display: none;}

      }
    }
  }
}

// --- 寬版 ---
@media screen and (min-width: $wwNormal){
  .sidebar{display: none;}

  // 寬版選單
  .topRow .menu{
    display: none;
    position: absolute; top: 0; left:-100vw;  width:calc(100vw - #{$sideStripe});
    padding: 6.5vw 5vw 4vw 3vw;
    height: 100%; overflow-Y: auto; background: $transDarken;
    
    a{ color: $fontInvert; text-decoration: none; }

    &>ul{
      display: flex;flex-flow: row wrap; line-height: 1.4;
      a{padding:.4em .6em 0; border-bottom: 1px solid transparent; transition:border .2s;
        &:hover, &:focus {border-bottom-color: $fontInvert;}
      }
      &>li{ position: relative;
        flex: 0 0 30%; margin: 0 5% 3em 0; padding: 0 0 0 8vw;
        &:nth-child(3n){ margin-right: 0;}
        &>a{ color: #ffe39e; padding-bottom: .25em;}
        &>ul{margin-top: 4px;}
  
        img.deco{ 
          display: block;
          position: absolute; left: 0; top: 0;
          width: 7vw; height: 7vw; max-width: 84px; max-height: 84px;
        }
  
        li{font-size: .88em; margin: 0 0 4px;}
        ul ul{ display: none;}
      }
    }
  }
  @media screen and (min-width: $wwMaximum){
    .topRow .menu{
      width: $wwMaximum - $sideStripe; left: $sideStripe - $wwMaximum;
      padding: 78px 60px 48px 36px; 
      &>ul>li{
        padding-left: 96px; }
    }
  }
}