.np, .npTree{
  ul{list-style: none; margin: 0; padding: 0; line-height: 1.4;}
  li{padding: 2px 0;
    a{
      position: relative; display: block; padding: .7em .5em .65em 24px;
      text-decoration: none; color: $fontColor;
    }
  }
}


// 單層
.np{
  &>ul{
    display: flex; flex-flow: row wrap; justify-content: space-between; margin: 15px 0;
    &>li{
      flex:0 0 calc(50% - 6px);
      margin: 6px; padding:0;
      &:nth-child(odd){ margin-left: 0;}
      &:nth-child(even){ margin-right: 0;}

      &>a{
        box-shadow: $border-color 0 0 0 1px;  padding: .9em .5em .8em 44px;
        height: 100%; transition: .2s;
        &::before{
          content: '';position: absolute;
          left:20px; top:1em; width: 0;height: 0; box-sizing: content-box; 
          border-style: solid; border-width: 8px 0 8px 10px;
          border-color: transparent transparent transparent $border-color-dark;
        }
        &:hover{
          box-shadow: $primaryColor 0 0 0 1px, $border-color 0 6px 20px -3px;
        }
      }
    }
  }
}

// 多層（本案只做兩層），樹狀結構
.npTree{ width: $mmw; margin: 10px auto;
  &>ul{
    &>li{ 
      margin: 10px 0; padding:3px;
      // box-shadow: $border-color 0 0 0 1px;
      border: 1px solid red;
      ul{margin-left: 1.2em;}
      a{ 
        &::before{content: ''; position: absolute;}
        &:hover{background: $border-color-light;}
      }
      &>a{
        &::before{
          left:8px; top:.85em; width: 0;height: 0; box-sizing: content-box; 
          border-style: solid; border-width: 8px 0 8px 10px;
          border-color: transparent transparent transparent $border-color-dark;
        }
      }
      &>ul>li>a{
        &::before{ 
          width: 9px; height: 9px;left: 8px; top: 1em;
          background: $border-color-dark;
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    width: auto;
  }
}