.pagination { width: $mmw; margin: 1em auto;padding: 0;
  text-align: center;font-size: 1rem;
  form{display: inline-block;}
  input, select{font-size: inherit; height: 2.4em; line-height: 2.4;}
  select{ background-position:right 8px top .95em;}
  a{text-decoration: none;}
  em{ display: inline-block; font-style: normal; font-weight: bold; margin: 0 .3em;}

  .page{ list-style: none; line-height: 1;
    margin:5px 0; padding: 3px; display: inline-block; 
    &>li{float: left; margin: 3px;
      a{ display: block; min-width: 2.5em; height: 2.5em; line-height: 2.5em;
        box-shadow: $border-color 0 0 0 1px; color: $fontColor; background-color: $mainBg;
        transition: .2s;
        &:hover, &:focus{ box-shadow: $assistant 0 0 0 2px;}
      }
      &.active{
        a{ background-color: $assistant; color: $fontInvert;box-shadow: $assistant 0 0 0 1px;
          &:hover, &:focus{ box-shadow: $mainBg 0 0 0 1px, $assistant 0 0 0 3px;}
        }
      }

      &.first, &.prev, &.next, &.last{ 
        a{ position: relative;
          &::before, &::after{content: ''; position: absolute; top: 50%;}
          &::after{width:8px; height:8px; 
            border: 2px solid $border-color-dark; border-top: none; border-right: none;
            margin-top: -5px;
          }
        }
      }
      &.first , &.last{
        a::before{width: 2px; height: 14px; background:$border-color-dark; 
           transform: translateY(-50%);
        }
      }
      &.first, &.prev{
        a{padding-left: 25px; padding-right: .6em; 
          &::after{ transform: rotate(45deg);left: 13px;} 
        }
      }
      &.first a{
        &::after{ left: 14px;}
        &::before{ left: 10px;}
      }
      &.next, &.last{
        a{padding-right: 25px; padding-left: .6em;
          &::after{ transform: rotate(225deg); left: auto; right: 13px;}
        }
      }
      &.last a{
        &::after{ right: 14px;}
        &::before{right: 10px;}
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    width: auto;
  }

}
