// 行腳中橫數位公路館
.main{
  background-color: $mainBg;
  @media screen and (min-width: $wwNormal){
    background-image: url(../images/cch_bg_mp.jpg);
    background-repeat: repeat-y;
    padding-bottom: 240px;
    &.inner{ 
      background-image: url(../images/cch_bg.jpg); 
      margin-top: -28.42vw;
    }
  }
  @media screen and (min-width: $wwMaximum){
    &.inner{margin-top: -1*$wwMaximum*.2842;}
  }
}

.webHeader{
  background-color: rgba(255, 255, 255, 0.88);
  @media screen and (min-width: $wwNormal){
    background-color: transparent;
    &::before{ 
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}
.headBanner{
  @media screen and (min-width: $wwNormal){
    img{height: 29.58vw;}
  }
  @media screen and (min-width: $wwMaximum){
    img{ height: $wwMaximum*.2958; }
  }
}

// 主選單
@media screen and (min-width: $wwNormal){
  .topRow {
    .menu{
      &>ul>li>a{ color: $assistant;}
    }

    .topNav{
      &>ul{
        &>li{
          a::after{background-color: $assistant2; }
        }
      }
    }
  }

}



// 頁腳
.webFooter{
  background-color: $footerBg;
  @media screen and (min-width: $wwNormal){
    background-color:transparent;
  }
}
// 頁腳的選單
.siteTree{
  @media screen and (min-width: $wwNormal){
    padding-top: 70px;
    background: url(../images/footerBg_cch.png) center top no-repeat;
  }
}




// 20220406 中橫補
// 主選單、漢堡選單
.menuCtrl, .sidebarCtrl{
  &::before, &::after{
    background: $fontColor;
  }
  &::before{
   box-shadow: $fontColor 0 20px 0;
  }
}

// 本頁快速連結點點
.mpNav{
  @media screen and (min-width: $wwNormal){
    li{
      a:hover::before{ box-shadow: rgba(0,0,0,.5) 0 0 0 2px;}
      &.focused a::before{box-shadow:  $assistant 0 0 0 2px; }
    }
  }
}


// 查詢圖示
.searchCtrl{
  &::before{border: 3px solid $fontColor;}
  &::after{ background-color: $fontColor;}
}

// ---------- 快速查詢區
.search {
  input[type="button"]{ color: $fontColor;
    &:hover{ background-color: $assistant; box-shadow: $assistant 0 0 0 2px;}
    &:focus{ background-color: $hilight;}
  }
}

// 首頁大圖輪播
.bigBanner{
  .flowNav li.active::before{ background: $assistant; box-shadow: $assistant 0 0 0 2px, #000 0 0 0 4px;}
}

// 活動回顧
.flow3{
  .flowList>li{
    &:nth-child(3n+1)::before{background: url(../images/ploy3-c1-cch.svg) no-repeat 0 0}
    &:nth-child(3n+2)::before{background: url(../images/ploy3-c2-cch.svg) no-repeat 0 0;}
    &:nth-child(3n)::before{background: url(../images/ploy3-c3-cch.svg) no-repeat 0 0;}

    &:nth-child(3n+1) time::after{ color: $assistant1;}
    &:nth-child(3n+2) time::after{ color: $assistant2;}
    &:nth-child(3n) time::after{ color: $assistant3;}
  }

}

// 歷史中橫
.flow2{
  .flowList>li{
    figure{
      figcaption{ background: $assistant; color: $fontColor; }
    }
    &.active{
      &>a:hover{
        figure{
          figcaption{background: saturate($assistant, 15%);}
        }
      }
    }
  }
  .flowNav{
    li.active span{background-image: url(../images/polyBlack.svg);}
  }

  @media screen and (min-width: $wwNormal){
    .flowList>li{
      figure{ background-color: transparent; 
        figcaption{
          color: $fontColor; background-color: transparent;
        }
      }
      &.active{
        figure { background-color: $assistant; 
          figcaption{ color: $fontColor;}
        }
      }
    }
  }
}

// 左右箭頭 button
button.diskBtn{
  &:hover, &:focus{ background: $assistant;
    &.prev, &.next{
      &::before{border-color: $fontColor;}
      &::after{background: $fontColor;}
    }
  }
  &:hover{ box-shadow: $assistant 0 0 0 3px;}
  &:focus{ box-shadow: $fontColor 0 0 0 3px;}
}

// more
.more{ 
  a{
    &:hover, &:focus{ background-color: $assistant; color: $fontColor;
      &::before{border-color: $fontColor; border-width: 2px;}
    }
    &:focus{ box-shadow: $fontColor 0 0 0 3px; }

  }
}

// X 關閉 button
.closeThis{
  &:hover, &:focus{
    &::before, &::after{background-color: #000;}
  }
}

// 跳至內容區
.goCenter{
  &:hover, &:focus{ color: $fontColor;}
}




.videoPreview{
  .image{
    .type{
      background-image: url(../images/polyColor3.svg) ; color: $fontColor; 
    }
  }
}

// .fatFootCtrl{
//   &:hover, &:focus{ background-color: $assistant;
//     &::before{border-color: $fontColor; border-width: 2px;}
//   }
// }




// ------------------------------------------------------------------------------------------
