// ---------- 快捷鍵
@media screen and (min-width: $wwNormal){
  .accesskey{ 
    color: $fontColorLight;
    &:focus{ outline: 2px solid $hilight;}
  }
  .webHeader .accesskey{
    color: $fontColorLight;
    &:focus{ color: $hilight;}
  }
  .webFooter .accesskey{
    top: 40px; color: $fontColorLight;
    &:focus{ color: $hilight;}
  }
}

// 行腳中橫數位公路館
.main{
  background-color: $mainBg;
  @media screen and (min-width: $wwNormal){
    background-image: url(../images/cch_bg.jpg);
    background-repeat: repeat-y;
    padding-bottom: 240px;
    &.inner{ 
      background-image: url(../images/cch_bg.jpg); 
      margin-top: -28.5vw;
    }
  }
  @media screen and (min-width: $wwMaximum){
    &.inner{margin-top: -342px;}
  }
}

.webHeader{
  background-color: rgba(0, 0, 0, 0.8);
  @media screen and (min-width: $wwNormal){
    background-color: transparent;
    &::before{ 
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
.headBanner{
  @media screen and (min-width: $wwNormal){
    img{height: 29.5vw;}
  }
  @media screen and (min-width: $wwMaximum){
    img{ height: $wwMaximum*.295; }
  }
}

// 主選單
@media screen and (min-width: $wwNormal){
  .topRow {
    .menu{
      &>ul>li>a{ color: #ffd53e;}
    }

    .topNav{
      background-color: rgba(0, 0, 0, 0.75); border-radius: 0;
      padding: 12px;
      color: $fontInvert;
      a{ color: $fontInvert;}
      &>ul{
        &>li{
          &::before{background-color: $fontInvert;}
          a{color: $fontInvert;}
          a::after{background-color: $hilight2; }
        }
      }
    }
  }
}



// 頁腳
.webFooter{
  background-color: $footerBg;
  @media screen and (min-width: $wwNormal){
    background-color:transparent;
  }
}
// 頁腳的選單
.siteTree{
  @media screen and (min-width: $wwNormal){
    padding-top: 70px;
    background: url(../images/footerBg_cch.png) center top no-repeat;
  }
}




// 20220406 中橫補
// 主選單、漢堡選單
.menuCtrl, .sidebarCtrl{
  &::before, &::after{ background: #fff; }
  &::before{ box-shadow: #fff 0 20px 0;}

  &:hover, &:focus{
    &::before{ box-shadow: #fff 0 20px 0;}
  }

  &.closeIt{
    &::before{box-shadow: none;}
  }
}
.menuCtrl.closeIt{
  background-color: transparentize($assistant, .3);
  &:focus{ background-color:$assistant}
}

// 本頁快速連結點點
.mpNav{
  @media screen and (min-width: $wwNormal){
    li{
      a:hover::before, a:focus::before{ box-shadow: #fff 0 0 0 2px; }
    }
  }
}


// 查詢圖示
.searchCtrl{
  &::before{border: 3px solid #fff;}
  &::after{ background-color: #fff;}
}

// ---------- 快速查詢區
.search {
  input[type="text"]:focus{ box-shadow: #fff 0 0 0 2px, $assistant 0 0 0 1px inset;}
  input[type="button"]{ 
    &:hover, &:focus{ background-color: $assistant; box-shadow: $assistant 0 0 0 2px;}
    &:focus{ box-shadow: $assistant 0 0 0 2px, rgba(255, 255, 255, 0.7) 0 0 0 1px inset;}
  }
}

// 首頁大圖輪播
.bigBanner{ 
  
  .flowNav{
    ul{background-color: rgba(0,0,0,.65);}
    li{
      &::before{background-color: rgba(255, 255, 255, 0.5);}
      &.active::before{ background: #fff; box-shadow: #fff 0 0 0 2px;}
    }
  }

  @media screen and (min-width: $wwNormal){
    position: relative;
    &::before{
      content: ''; position: absolute; left: 0; bottom: 0; right: 0;
      width: 100%; height: 16vw;
      background: url(../images/bigBannerDeco.png)  no-repeat left bottom;
      background-size: 100% auto;
      z-index: 9;
    }
  }

  @media screen and (min-width: $wwMaximum){
    &::before{
      height: 192px;
    }
  }

}

// 活動回顧
.flow3{
  .flowList>li{
    &:nth-child(3n+1)::before{background: url(../images/ploy3-c1-cch.svg) no-repeat 0 0}
    &:nth-child(3n+2)::before{background: url(../images/ploy3-c2-cch.svg) no-repeat 0 0;}
    &:nth-child(3n)::before{background: url(../images/ploy3-c3-cch.svg) no-repeat 0 0;}
    time{
      color: $fontInvert;
      background-repeat: no-repeat; background-position: 0 0;
    }
    &:nth-child(3n+1) time{ background-image: url(../images/poly-cch-c1.svg); }
    &:nth-child(3n+2) time{ background-image: url(../images/poly-cch-c2.svg); }
    &:nth-child(3n) time{ background-image: url(../images/poly-cch-c3.svg); }
  }

}

// 歷史中橫
.flow2{
  .flowList>li{
    figure{
      figcaption{ background: #080808;}
    }
    &.active{
      &>a:hover{
        figure{
          figcaption{background: #080808; color: #fff;}
        }
      }
    }
  }
  .flowNav{
    li.active span{background-image: url(../images/polyBlack.svg);}
  }

  @media screen and (min-width: $wwNormal){
    .flowBox{
      background-image: url(../images/poly-cch-flow2.svg);
    }
    .flowList>li{
      figure{ 
        figcaption{color: $fontColor; background-color: transparent;}
      }
      &.active{
        figure {
          background: #080808;
          figcaption{background: #080808;color: #fff;}
        }
      }
    }
  }
}

// 左右箭頭 button
button.diskBtn{
  &:hover, &:focus{ background: $assistant;}
  &:hover{ box-shadow: $assistant 0 0 0 3px;}
  &:focus{ box-shadow: $assistant 0 0 0 3px;}
}

// more
.more{ 
  a{
    &:hover, &:focus{ background-color: $assistant;
      &::before{ margin-right: -2px; transition-property:margin; transition-duration: .1s;}
    }
  }
}

// X 關閉 button
// .closeThis{
//   &:hover, &:focus{
//     &::before, &::after{background-color: #fff;}
//   }
// }

// 跳至內容區
.goCenter{
  &:hover, &:focus{ color: $fontInvert;}
}




.videoPreview{
  .image{
    .type{
      background-image: url(../images/polyBlack.svg) ; color: $fontInvert; 
    }
  }
}

// .fatFootCtrl{
//   &:hover, &:focus{ background-color: $assistant;
//     &::before{border-color: $fontColor; border-width: 2px;}
//   }
// }


.sitemap{
  .cascading{
    &>ul>li{
      &>a{
        border-bottom-color: $assistant2;
      }
      a:hover, a:focus{
        border-bottom-color: $assistant; color: $assistant;
      }
    }
  }
}


// ------------------------------------------------------------------------------------------
