// ---------- webHeader
.webHeader{
  position: fixed; top: 0; z-index: 991; 
  width: 100vw; height: 64px;margin: 0 ;
  background: $primaryColor;

  .decoImg{display: none;}

  h1{margin: 0 64px; padding: 0; height: 64px; overflow: hidden;
    &>a{ display: block;}
    img{ position: static;
      &.normal { display: none;}
      &.mobile { display: block; margin: 5px;
        width: calc( 100vw - 138px); height: 54px; object-fit: contain;}
    }
  }

  .searchCtrl{position: absolute; top: 4px; right: 4px; margin: 0; border-radius: 0;}
  .menuCtrl{ display: none;}
  .sidebarCtrl{ display: block;position: absolute; top: 4px; left: 4px;}

  @media screen and (min-width: $wwNormal) {
    position: absolute;
    height: 58vw; width: 100px; overflow: visible;
    background: none; 

    .sidebarCtrl {display: none;}
    .menuCtrl, .searchCtrl{display: block; position: absolute; left: auto; right: auto; }
    .searchCtrl{ margin: 10px auto 10px ($sideStripe - 56px)/2; top: 55%;}
    .menuCtrl{  margin: 10px auto 10px ($sideStripe - 56px)/2; top: calc(55% - 70px);}
  
    &::before{ content: ""; 
      position: absolute; top: 0; bottom: 0; left: 0; width: 100%;
      background-color: transparentize($primaryColor, .3);
    }
  
    h1{ position: relative; left: $sideStripe*.5 - 40px;
      margin: 0; padding: 20px 0; width: 80px; height: auto;
      text-indent: -20em; overflow: hidden;
      img{
        &.mobile{ display: none;}
        &.normal{ display: block; width: 100%; height: auto; margin: 0;}}
    }
  
    .decoImg{ display: block; z-index: 8;
      position: absolute; bottom: 4.5%; left: $sideStripe*.5 - 40px;
      width:80px; 
    }
  
    h1, .menuCtrl, .searchCtrl{ z-index: 9;}
    &::before{ width: $sideStripe; z-index: 8;}
  }


  @media screen and (min-width: $wwMaximum) {
    height: $wwMaximum*.58; 
    // &::before{ background-position: center bottom 40px;}
  }

}

// ---------- 右上導覽列 topNav
.topRow .topNav{display: none;
  @media screen and (min-width: $wwNormal){
    display: block;
    position: absolute; right: 3.25vw; top: 0; z-index: 99;
    padding-top: calc(2.5vw - 1em);
    font-size: 1.125em;
    ul{list-style: none; margin:0; padding: 0;}
    &>ul{ overflow: hidden; line-height: 1;
      &>li{ float: left; position: relative; margin: 0; padding: 0 .8em;
        &::before{ content: ''; 
          position: absolute; right: 0; top: .7em;
          width: 1px; height: .5em; background: $fontColor;
        }
        &:last-child::before{display: none;}
        a{ display: block; position: relative;
          padding: 0; text-decoration: none; color: $fontColor;
          height: 2em; line-height: 2;
          &::after{content: ''; 
            position: absolute; left: 50%; bottom: .2em; height: 3px; width: 0;
            background-color: $assistant; transition: .2s;
          }
          &:hover::after, &:focus::after{ width: 100%; left: 0; }
        }
      }
    }
  }
}


// ---------- 快速查詢區
.search { 
  display: none;
  position: absolute; top: 64px; left: 100vw;
  width: 100vw; padding: 24px 1em 10px; 
  background: #000c; color: darken($fontInvert, 20%);
  transition: .6s;

  a{ color: $fontInvert;}
  form{margin: 0;padding: 0;}
  input[type="text"], input[type="button"]{ font-size: inherit; height: 2.8em; border-radius: 4px;border: none;padding: 0 .5em; margin: 0; vertical-align: top; display: inline;
    // background-color: $bodyBg;
  }
  input[type="text"]{
    width: calc(100vw - 4em - 68px); max-width: 24em; margin-right: 3px;
    background-color: #fff;
    &:focus{box-shadow: $hilight 0 0 0 2px;}
  }
  input[type="button"]{
    background-color: $assistant;
    &:hover{ background-color: $hilight; box-shadow: $hilight 0 0 0 2px;}
    &:focus{ background-color: $assistant; box-shadow: $assistant 0 0 0 2px;}

  }

  // 熱門關鍵字
  .hotKeywords{ margin-top: 1em;width: 18.5em;
    .label{display: inline-block; margin-bottom: .4em;line-height: 1.1; vertical-align: top;}
    ul{ list-style: none; margin: 0; padding: 0; display: inline-block; line-height: 1.1;}
    li{ margin:0 1em .4em 0; float: left;
      a{ display: block; text-decoration: none; cursor: pointer;
        &:hover, &:focus{ text-decoration: underline;}
      }
    }
  }

  &.reveal{ left: 0;}
  .closeThis{ right: 2px; top: 2px; }

  @media screen and (min-width: $wwNormal){
    left: 0; top: 55%; right: auto; width: 21em; padding-top: 54px;
    transform:translateX(-100%);
    &.reveal{ left: $sideStripe; opacity: 1;transform:translateX(0);}
    input[type="text"]{ width: 15em; }
  }

}