// ---------- 變數群 ---------- //
// 顏色
$primaryColor: #3B2213;
$secondaryColor: #3B2213;

$assistant: #a40e03;
$assistant1: #A35539;
$assistant2: #B34841;
$assistant3: #8D713F;
$notice: $assistant;
$hilight: #d26c00;

$sidebarBg : #6f4d24;
$bodyBg: #EDE3CC;
$footerBg: #2B1207;
$footerBg2: #220E06;

$fontColor: #000;
$fontInvert: #fff;

$borderColor: #aaa;
$borderColorLight: #ddd;
$borderColorDark:#777;
$shadow:#0003;
$shadow2:#0006;

$btnBg1: $primaryColor ;
$btnBg2:darken($primaryColor, 12%);

$gray: #ddd;
$grayLight: #ececec;
$grayDark: #555;

$transDarken: #1a0d05bb;



// ---------- 長度常數 ---------- //
$sideStripe : 100px; //寬版 logo 區寬度
$sideBarWidth: 280px; // 窄版側欄選單
// ---------- 長度常數 ---------- //


// ---------- RWD 斷點 ---------- //
$wwSlim: 480px;
$wwMedium: 700px;
$wwNormal: 960px;
// $wwWide: 1200px;
$wwMaximum: 1200px;
// ---------- RWD 斷點 ---------- //


@import "_default";
@import "_elements";
@import "_webHeader";
@import "_bigBanner";
@import "_menu";
@import "_webFooter";
@import "_form";
@import "_aas";
@import "_flow1";
@import "_flow2";
@import "_flow3";
@import "_videoPreview";
